@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400;700;800&family=Nunito+Sans:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.rareweave-font {
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, #3f5efb 0%, #fc466b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 150% 150%;
    animation: rareweave-font 3s infinite;
    font-family: 'Nunito Sans', sans-serif;

    display: inline
}

@keyframes rareweave-font {
    from {
        background-size: 150% 150%;
        background-position-x: 0%;
    }

    50% {
        background-size: 350% 350%;
        background-position-x: 100%;
    }

    to {
        background-size: 150% 150%;
        background-position-x: 0%;
    }
}

@keyframes loading {
    from {
        background-size: 150% 150%;
        background-position-x: 0%;

        background-position-y: 0%;
        transform: rotate3d(-1, 1, 0, 0deg);
    }

    50% {
        background-size: 350% 350%;
        background-position-x: 250%;
        transform: rotate3d(-3, 1, 0, 80deg);
        background-position-y: 100%;
    }

    75% {
        background-size: 450% 450%;


        background-position-y: 50%;
    }

    to {
        background-size: 150% 150%;
        background-position-x: 0%;
        background-position-y: 0%;
        transform: rotate3d(-1, 1, 0, 0deg);
    }
}

@keyframes spin {
    from {
        padding: 2.5rem;
        border-radius: 50%;
        opacity: 1;
        transform: rotate(0deg);
    }

    50% {
        padding: 1.5rem;
        transform: rotate(180deg);

        border-radius: 5%;
        opacity: 0.7;
    }

    to {
        padding: 2.5rem;
        transform: rotate(360deg);
        border-radius: 50%;
        opacity: 1;
    }
}

#__nuxt {
    height: 100vh;
    width: 100%;

}

.loading {
    padding: 2rem;
    background: hsla(20, 29%, 20%, 1);
    box-shadow: 0px 0px 10px 6px rgba(160, 84, 173, 0.6) inset;
    background: repeating-radial-gradient(circle, rgba(253, 187, 45, 1) 10%, rgba(160, 84, 173, 1) 20%, rgba(63, 133, 210, 1) 26%, rgba(160, 84, 173, 1) 40%, rgba(253, 187, 45, 1) 65%);

    transform-style: preserve-3d;
    border-radius: 50%;
    animation: loading 3s linear infinite, spin 1.5s infinite;
}

.h-full-navbared {
    min-height: calc(100% - 82px)
}

.max-h-full-navbared {
    max-height: calc(100vh - 82px)
}

.amazing-button {
    @apply btn normal-case shadow-lg transition-shadow ease-in duration-100 text-lg relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden font-mono rounded-lg bg-gradient-to-br to-orange-400 from-pink-500 text-white
}

.amazing-button2 {
    @apply btn normal-case bg-black bg-opacity-25 btn-ghost px-5 py-2.5 text-lg relative inline-flex items-center justify-center p-0.5 overflow-hidden font-mono text-white rounded-lg border-[#0c0c0c];
}

.amazing-button:hover {
    @apply shadow-red-800/80 shadow-xl;
}

.amazing-button:focus {
    @apply ring-4 outline-none ring-pink-800;
}


.amazing-button2:disabled {
    border: none;
    color: black;
    cursor: not-allowed;
    opacity: 0.5;
    background: #292929;
}

.amazing-button:disabled {

    opacity: 0.5;

}