.loading,
.Loader__icon {
    padding: 2rem;
    background: hsla(20, 29%, 20%, 1);
    box-shadow: 0px 0px 10px 6px rgba(160, 84, 173, 0.6) inset;
    background: repeating-radial-gradient(circle,
        rgba(253, 187, 45, 1) 10%,
        rgba(160, 84, 173, 1) 20%,
        rgba(63, 133, 210, 1) 26%,
        rgba(160, 84, 173, 1) 40%,
        rgba(253, 187, 45, 1) 65%
    );
    transform-style: preserve-3d;
    border-radius: 50%;
    animation: loading 3s linear infinite, spin 1.5s infinite;
}

@keyframes loading {
    from {
        background-size: 150% 150%;
        background-position-x: 0%;
        background-position-y: 0%;
        transform: rotate3d(-1, 1, 0, 0deg);
    }
    50% {
        background-size: 350% 350%;
        background-position-x: 250%;
        transform: rotate3d(-3, 1, 0, 80deg);
        background-position-y: 100%;
    }
    75% {
        background-size: 450% 450%;
        background-position-y: 50%;
    }
    to {
        background-size: 150% 150%;
        background-position-x: 0%;
        background-position-y: 0%;
        transform: rotate3d(-1, 1, 0, 0deg);
    }
}

@keyframes spin {
    from {
        padding: 2.5rem;
        border-radius: 50%;
        opacity: 1;
        transform: rotate(0deg);
    }
    50% {
        padding: 1.5rem;
        transform: rotate(180deg);
        border-radius: 5%;
        opacity: 0.7;
    }
    to {
        padding: 2.5rem;
        transform: rotate(360deg);
        border-radius: 50%;
        opacity: 1;
    }
}

.Fetching__data {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 216px;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Fetching__data span {
    position: relative;
    display: flex;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow:
        inset 0 0 20px -5px rgba(255, 255, 255, 0.5),
        inset 0 -40px 40px -20px rgba(255, 255, 255, 0.5)
    ;
    background: linear-gradient(rgba(172, 8, 194, 0.33) 120px, transparent 0) no-repeat;
    background-position: 0px 120px;
    animation: fillLq 1.3s linear infinite forwards;
    transition: .36s ease-in-out;
    overflow: hidden;
}

.Fetching__data span:before {
    position: absolute;
    content: '';
    width: 40%;
    height: 25%;
    top: 20px;
    right: 10px;
    background: rgba(255,255,255,0.1);
    border-radius: 50%;
    transform: rotate(45deg);
    transition: .36s ease-in-out;
}

@keyframes fillLq {
    0% { 
        background: linear-gradient(rgba(172, 8, 194, 0.33) 120px, transparent 0) no-repeat;
        background-position: 0 120px;
    }
    /* 25% { 
        background: linear-gradient(rgba(172, 8, 194, 0.33) 120px, transparent 0) no-repeat;
        background-position: 0 100px;
    } */
    /* 50% { 
        background: linear-gradient(rgba(172, 8, 194, 0.33) 120px, transparent 0) no-repeat;
        background-position: 0 80px;
    } */
    /* 75% { 
        background: linear-gradient(rgba(172, 8, 194, 0.33) 120px, transparent 0) no-repeat;
        background-position: 0 60px;
    } */
    100% { 
        background: linear-gradient(rgba(172, 8, 224, 0.33) 120px, transparent 0) no-repeat;
        background-position: 0 0px;
    }
}

.Empty__nfts {
    position: relative;
    width: 108px;
    display: flex;
    justify-content: space-between;
  }
  .Empty__nfts::after , .Empty__nfts::before  {
    content: '';
    display: inline-block;
    width: 48px;
    height: 48px;
    background-color: #FFF;
    background-image:  radial-gradient(circle 14px, #0d161b 100%, transparent 0);
    background-repeat: no-repeat;
    border-radius: 50%;
    animation: eyeMove 10s infinite , blink 10s infinite;
  }
  @keyframes eyeMove {
    0%  , 10% {     background-position: 0px 0px}
    13%  , 40% {     background-position: -15px 0px}
    43%  , 70% {     background-position: 15px 0px}
    73%  , 90% {     background-position: 0px 15px}
    93%  , 100% {     background-position: 0px 0px}
  }
  @keyframes blink {
    0%  , 10% , 12% , 20%, 22%, 40%, 42% , 60%, 62%,  70%, 72% , 90%, 92%, 98% , 100%
    { height: 48px}
    11% , 21% ,41% , 61% , 71% , 91% , 99%
    { height: 18px}
  }