html,
body {
    position: static;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
    font-family: var(--font-primary);
    text-shadow: 
        0px 1px 1px rgba(0, 0, 0, 0.12), 
        1px 2px 2px rgba(0, 0, 0, 0.12), 
        2px 4px 4px rgba(0, 0, 0, 0.12)
    ;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;

    background: var(--bg-primary);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#__nuxt {
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    isolation: isolate;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

.--hidden {
    display: none !important;
}