@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Aclonica&family=Arimo&family=Bowlby+One+SC&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Sedgwick+Ave+Display&family=Sigmar&family=Sora:wght@100;200;300;400;500;600;700;800&family=Tilt+Prism&family=Wallpoet&display=swap');
:root {
    --bg-primary: rgba(17, 23, 38, .5);
    --bg-dropdown: rgba(17, 23, 38, 1);
    --color-primary: rgb(216, 221, 231);
    --text-primary: rgba(216, 221, 231, 1);
    --text-contrast-primary: rgba(17, 23, 38, 1);

    
    --card-primary: rgba(255, 255, 255, 0.1);
    
    --form-bg-primary: rgba(48, 56, 63, 0.5);

    --border-primary: 1px solid rgba(143, 156, 172, .5);

    --page-spacing: 6vw;

    --page-max-width: 1740px;

    --nav-height: 64px;
    --filter-height: 48px + 1px;
    --filter-padding: 1.375rem;
    --footer-height: 1.375rem;
    --page-height: calc((100vh) - var(--nav-height) - var(--filter-height) - var(--filter-padding) - var(--footer-height));

    --content-width: calc((100%) - var(--page-spacing) * 2);
    
    --font-primary: 'Iosevka Aile Web', monospace;
    --font-secondary: 'Iosevka Aile Web', monospace;
}

/* Structural components */
#__nuxt {
    background: linear-gradient(12deg,
            rgba(0, 1, 3, 1.00),
            rgba(0, 1, 3, 0.75),
            rgba(0, 2, 5, 0.96));
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

input,
textarea,
select,
button {
    font-family: var(--font-secondary);
    @apply bg-[rgba(48,56,63,0.5)] rounded-md;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-secondary) !important;
}

p {
    font-family: var(--font-secondary);
}


/* Amazing Section */
.Amazing-text,
.Amazing--green {
    background: linear-gradient(115deg, rgba(137, 255, 183, 1), rgb(30 203 220 / 99%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Amazing--red {
    background: linear-gradient(117deg, rgba(255, 8, 132, 0.932), rgba(245, 119, 2, 0.932));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Amazing--purple {
    background: linear-gradient(117deg, rgba(122, 5, 158, 0.932), rgba(3, 126, 241, 0.932));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Amazing--tl {
    background: url(./assets/logo-01.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 300% 300%;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Amazing--tr {
    background: url(./assets/logo-01.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 300% 300%;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Amazing--bl {
    background: url(./assets/logo-01.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 300% 300%;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Amazing--br {
    background: url(./assets/logo-01.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 300% 300%;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* Legacy and new Amazing classes mixed */

.rareweave-font,
.Rareweave__font,
.Rareweave--text {
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, #3f5efb 0%, #fc466b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 150% 150%;
    animation: rareweave-amazing-font 3s infinite;
    display: inline;
}

@keyframes rareweave-amazing-font {
    from {
        background-size: 150% 150%;
        background-position-x: 0%;
    }

    50% {
        background-size: 350% 350%;
        background-position-x: 100%;
    }

    to {
        background-size: 150% 150%;
        background-position-x: 0%;
    }
}

.amazing-button,
.Amazing--button {
    background: rgba(106, 234, 156, 1);
    background: radial-gradient(circle,
            rgba(23, 122, 255, 1),
            rgba(106, 234, 156, 1));
    background-size: 300% 300%;
    transition: all 0.23s ease-in-out;
    color: var(--text-contrast-primary)
}

.amazing-button:disabled,
.Amazing--button:disabled {
    opacity: 0.5;
}


.amazing-button:hover,
.Amazing--button:hover {
    animation: bgposchange 10s linear infinite;
}

@keyframes bgposchange {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 700% 0%;
    }
}

.amazing-button2 {
    background: rgb(238, 174, 202);
    color: black;
    border: 2px solid black;
    background: linear-gradient(45deg, rgba(107, 99, 194, 1) 0%, rgba(216, 140, 211, 1) 100%);
}

.amazing-button2:disabled {
    border: none;
    color: black;
    cursor: not-allowed;
    opacity: 0.5;
    background: #292929;
}












/* Observer translations */
.--observe {
    transition: all 0.4s ease-out;
    transform: translateY(226px);
}

.--observe.inview {
    transform: translateY(0);
}




/* shortcut debuggin css Login page */
.card {
    overflow: hidden;
}





/* Resize variables and components (mixed for now) */
@media screen and (max-width: 1024px) {
    :root {
        --page-spacing: 1.25rem;
    }
}

@media screen and (max-width: 1394px) {
    .Section {
        padding: 5rem var(--page-spacing);
    }
}







/* Ar logo should be moved to own file in future */
.AR {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(251, 250, 255, .875);
    color: rgba(17, 23, 32, 1);
    font-size: 13pt;
    font-weight: 600;
    font-family: 'Arimo', sans-serif;
    border-radius: 50%;
    z-index: 99;
    box-shadow:
        0px 1px 1px rgba(0, 0, 0, 0.2),
        1px 2px 2px rgba(0, 0, 0, 0.2),
        2px 4px 4px rgba(0, 0, 0, 0.2);
}

.AR::before {
    content: "";
    position: absolute;
    top: 1px;
    right: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    z-index: -1;
    border: 1px solid rgba(17, 23, 32, 1);
}